subflows/Random filter.json
[
  {
    "id": "6b24fc36ef6360d6",
    "type": "subflow",
    "name": "Random filter",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 80,
        "wires": [
          {
            "id": "1a70549657a650d4"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 610,
        "y": 80,
        "wires": [
          {
            "id": "afa1f902a535ccb1",
            "port": 0
          }
        ]
      },
      {
        "x": 640,
        "y": 200,
        "wires": [
          {
            "id": "0e2215e3edd77d37",
            "port": 0
          }
        ]
      },
      {
        "x": 630,
        "y": 140,
        "wires": [
          {
            "id": "afa1f902a535ccb1",
            "port": 0
          },
          {
            "id": "0e2215e3edd77d37",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "chance",
        "type": "num",
        "value": "50",
        "ui": {
          "label": {
            "en-US": "Chance (%)"
          },
          "type": "input",
          "opts": {
            "types": [
              "num"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "outputLabels": [
      "Met chance",
      "Did not meet chance",
      "All messages"
    ],
    "status": {
      "x": 480,
      "y": 140,
      "wires": [
        {
          "id": "f2b77cefc89b700f",
          "port": 0
        },
        {
          "id": "e55ace26b45ae6da",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "43955998da322023",
    "type": "switch",
    "z": "6b24fc36ef6360d6",
    "name": "Filter on chance",
    "property": "aifn1av90maa9jnq0e0v1vwefasdhfgo23",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lte",
        "v": "chance",
        "vt": "env"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 300,
    "y": 140,
    "wires": [
      [
        "afa1f902a535ccb1",
        "f2b77cefc89b700f"
      ],
      [
        "0e2215e3edd77d37",
        "e55ace26b45ae6da"
      ]
    ]
  },
  {
    "id": "afa1f902a535ccb1",
    "type": "change",
    "z": "6b24fc36ef6360d6",
    "name": "Clean up mesasge",
    "rules": [
      {
        "t": "delete",
        "p": "aifn1av90maa9jnq0e0v1vwefasdhfgo23",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "0e2215e3edd77d37",
    "type": "change",
    "z": "6b24fc36ef6360d6",
    "name": "Clean up mesasge",
    "rules": [
      {
        "t": "delete",
        "p": "aifn1av90maa9jnq0e0v1vwefasdhfgo23",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "f2b77cefc89b700f",
    "type": "function",
    "z": "6b24fc36ef6360d6",
    "name": "Status",
    "func": "let chance = msg.aifn1av90maa9jnq0e0v1vwefasdhfgo23\nlet target = env.get(\"chance\")\nlet text = \"Success: \" + chance + \"% (<= \" + target + \"% to succeed)\"\nlet colour = \"green\"\nlet shape = \"dot\" // can be \"ring\" or \"dot\"\nlet status = {\n    \"fill\": colour,\n    \"shape\": shape,\n    \"text\": text\n}\nmsg.payload = status\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "e55ace26b45ae6da",
    "type": "function",
    "z": "6b24fc36ef6360d6",
    "name": "Status",
    "func": "let chance = msg.aifn1av90maa9jnq0e0v1vwefasdhfgo23\nlet target = env.get(\"chance\")\nlet text = \"Fail: \" + chance + \"% (<= \" + target + \"% to succeed)\"\nlet colour = \"red\"\nlet shape = \"dot\" // can be \"ring\" or \"dot\"\nlet status = {\n    \"fill\": colour,\n    \"shape\": shape,\n    \"text\": text\n}\nmsg.payload = status\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "1a70549657a650d4",
    "type": "random",
    "z": "6b24fc36ef6360d6",
    "name": "",
    "low": 1,
    "high": "100",
    "inte": "true",
    "property": "aifn1av90maa9jnq0e0v1vwefasdhfgo23",
    "x": 120,
    "y": 140,
    "wires": [
      [
        "43955998da322023"
      ]
    ]
  }
]